@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}
  
:root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
}
  
  
body {
    min-height: 100vh;
    background: #212534;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-family: 'Lobster', cursive;
}
  
  
.card {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    border-radius: 6px;
    text-align: center;
    font-size: 1.5em;
    color: rgb(88 199 250 / 100%);
}


.card:hover {
    transition: color 1s;
    overflow: hidden;
    border: 4px solid;
}
.card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
}
  
  
.card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

  
.card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}
  
@keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
}
  
a {
    color: #879287;
    text-decoration: none;
    font-weight: bold;
    margin-top: 2rem;
}

.card_img {
    border: 4px solid rgb(88 199 250 / 100%);
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    transform: translateY(30px);
}

.card_img:hover {
    width: 100%;
    height: 100%;
    border-radius: unset;
    transform: unset;
    transition: .5s;
    border: none;
}

.card_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.social {
    display: flex;
    justify-content: space-evenly;
    margin: 70px 0;
}

.social a {
    color: rgb(150, 214, 185);
    font-size: 25px;
}

#messenger {
    border: 3px dashed #3ce9f2;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 20px;
}

h2 {
    margin: 50px;
}
